 #if($turbineUtils.isSiteAdmin($user))
 <div id="main">
	<div id="preArchiveDiv" style="display:none">
		<h2>Prearchive Session Data Cleanup</h2>
		Find potential problem sessions last modified over 
		<input id="hours" type="text" style="text-align: right" size="4" value="12" onblur="XNAT.admin.preArchiveConf.validateValueAndShowData()"/> &nbsp;hours ago.
	</div>
	<script>
		XNAT.admin.preArchiveConf.showData();
		document.getElementById("preArchiveDiv").style.display='block';
		
		$('#hours').keypress(function (e) {
		 var key = e.which;
		 if(key == 13)
		  {
			XNAT.admin.preArchiveConf.validateValueAndShowData();
			return false;  
		  }
		});   
	</script>
	<div style="margin-bottom:20px;margin-top:10px;">
		<span style="color:#727272">
                      <li style="margin-left: 15px;">This operation will update the prearchive status for sessions stuck in the <em>BUILDING</em> or <em>DELETING</em> state to <em>ERROR</em> status.</li>
                      <li style="margin-left: 15px">This will allow the prearchive sessions to be rebuilt or deleted as desired.</li>
                      <li style="margin-left: 15px">Care should be used before modifying status for sessions less than 3-4 hours old, as session building and deletion are long running processes.</li>
		</span>
	</div>
</div>
    
	<div class="clearfix clear"></div>
<div id="conflicted-div">
	<div id="conflicted-data-table" style="max-height:600px;overflow-y:auto" />
</div>
	<div class="clearfix clear" style="margin-bottom:10px"></div>
<div id="resolvebtnDiv" align="center" style="display:none">
<input type="submit" class="btn btn-sm" id="resolveData" value="Resolve" title="Resolve Stuck Sessions" onclick="XNAT.admin.preArchiveConf.resolveData()"/>
</div>
 #else
    <div class="clearfix clear"></div>
    <div class="error">
            <p><strong>Security Warning</strong></p>
            <p>You do not have privileges to access this page.</p>
    </div>
#end
